@import url('./cs-hero.css');
@import url('./cs-services.css');

.content.home {
    margin: 0 calc(var(--cs-gap) * -4);
    display: flex;
    flex-direction: column;
}

.section-wrapper {
    position: relative;
    min-height: 100px;
}
.section-content, .service-content {
    position: relative;
    display: flex;
    gap: calc(var(--cs-gap) * 6);
    margin: 0 auto;
    padding: calc(var(--cs-pad) * 3) calc(var(--cs-pad) * 6);
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.section-content-with-bg {
    position: absolute;
    top: 0;
    bottom: 0;
}
.section-background {
    width: 100%;
    height: initial;
    display: block;
    object-fit: cover;
    overflow: hidden;
}
.section-background img {
    width: auto;
    height: inherit;
    margin: 0 auto;
}
.featured-image {
    width: clamp(150px, 80%, 300px);
    /* margin-right: calc(var(--cs-gap) * 4); */
}

.section .caption > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0;
    margin-bottom: calc(var(--cs-gap) * 4);
}

.section-services .section-content {
    flex-direction: column;
}

.section .caption > .btn {
    margin: calc(var(--cs-gap) * 3) auto;
}

.services {
    display: flex;
    gap: calc(var(--cs-gap) * 2);
    color: var(--cs-color-1);
    flex-wrap: wrap;
}

.services .featured-image {
    width: unset;
}

.services .caption a {
    color: var(--cs-color-1);
    font-size: small;
}

.services .caption > p {
    margin-bottom: calc(var(--cs-gap) * 0);
    -webkit-line-clamp: 1; 
}

/* Small devices (landscape phones, 400px and up) */
@media (min-width: 0px) and (max-width: 440px) { 
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .section .caption > p {
        display: block;
    }

    .section-background {
        height: 280px;
    }
    

}

@media (min-width: 1024px)
{
    .services {
        flex-wrap: nowrap;
    }

}

@media (min-width: 1440px)
{
   

}