@import url('./cs-hero.css');
@import url('./cs-services.css');

.content.home {
    margin: 0 calc(var(--cs-pad) * -4);
    display: flex;
    flex-direction: column;
}

.section-wrapper {
    position: relative;
    min-height: 100px;
}
.section-content {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 12px 24px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.section-content-with-bg {
    position: absolute;
    top: 0;
    bottom: 0;
}
.section-background {
    width: 100%;
    height: 240px;
    display: block;
    object-fit: cover;
    overflow: hidden;
}
.section-background img {
    width: auto;
    height: inherit;
    margin: 0 auto;
}
.featured-image {
    width: clamp(150px, 80%, 300px);
    margin-right: calc(var(--cs-pad) * 4);
}

.section .caption > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0;
    margin-bottom: calc(var(--cs-pad) * 4);
}

.section-services .section-content {
    flex-direction: column;
}

.services {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    gap: 8px;
    color: var(--cs-color-1);
}

.services > div {
    flex: 1 33.33%;
    padding: 8px 12px;
    background-color: #ffffffb4;
}

.services .caption a {
    color: var(--cs-color-1);
    font-size: small;
}

.services .caption > p {
    margin-bottom: calc(var(--cs-pad) * 0);
    -webkit-line-clamp: 1; 
}

/* Small devices (landscape phones, 400px and up) */
@media (min-width: 0px) and (max-width: 440px) { 
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .section .caption > p {
        display: block;
    }

    .services > div {
        flex: 1;
    }

}

@media (min-width: 1440px)
{
   

}